.collapsible {
  background-color: $bg-mid;
  color: $primary-txt;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: $maintext;
}

.active,
.collapsible:hover {
  background-color: $bg-light;
}

.collapsible:after {
  content: "+";
  color: $primary-txt;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 10px 10px 20px 20px;
  display: none;
  overflow: hidden;
  background-color: $bg-light;
  font-size: 1rem;
}
