@import "variables.scss";
@import "text.scss";
@import "nav.scss";
@import "breakpoints.scss";
@import "sidemenu.scss";
@import "collapsible.scss";
@import "mediaqueries.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $bg-mid;
    font-family: $maintext;
    color: $primary-txt;
}

main {
    width: 90%;
    margin: auto;
}

header {
  display: flex;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.typewrite {
  font-size: 100px;
}

.about {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-top: 35px;

  .title {
    margin-top: 60px;
  }
}

.experience {
  background-color: $bg-mid;
  margin-top: 30px;

  button {
    font-size: 16px;
  }
}

.title {
  font-size: 40px;
}

.divider-line1 {
border: 2px solid $primary-txt;
border-radius: 10px;
background-color: $primary-txt;
height: 4px;
width: 200px;
margin-top: 10px;
margin-bottom: 10px;
}


// MEDIA QUERIES //
// typewriter sizing
@media only screen and (max-width: $tw-normal) {
  .typewrite {
    font-size: 85px;
  }
}

@media only screen and (max-width: $tw-mid) {
  .typewrite {
    font-size: 65px;
  }
}

@media only screen and (max-width: $tw-low) {
  .typewrite {
    display: none;
  }
  .about {
    margin-top: 0;
  }

}
// ^^ typewriter sizing

@media only screen and (max-width: $tablet) {
  .nav__button {
    display: none;
  }

  header {
    display: none;
  }

  .title {
    font-size: 26px;
  }

  .image1 {
    display: none;
  }
}

@media only screen and (min-width: $tablet) {
  .hamburger {
    display: none;
    background-color: $bg-dark;
  }

  .header2 {
    display: none;
  }
}